@import '_mixin.scss';
@import '_include_media.scss';
@import '_variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: .5vh;
}

::-webkit-scrollbar-track {
    background: rgba($color: #000000, $alpha: 1.0);
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(192, 163, 33);
    border-radius: 10px;
}

// cover 
.cover {
    position: fixed;

    .bottom {
        background: rgba($color: #8b3939, $alpha: 0);
        height: 15vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        transition: 1s;
        animation: ease-in-out;

        .left-container {
            background: rgba($color: #883131, $alpha: 0);
            width: 40vw;
            height: 15vh;
            display: flex;
            align-items: center;
            justify-content: center;


            .text-label {
                font-size: 1.1em;
                font-family: 'Oswald', sans-serif;
                color: white;
                letter-spacing: 7px;
                // font-weight: bold;
                margin-bottom: 3vh;
            }
        }

        .right-container {
            background: rgba($color: #000000, $alpha: 1.0);
            width: 40vw;
            height: 15vh;
            position: absolute;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .logo-container {
                background: rgba($color: #813535, $alpha: 0);
                height: 4vh;
                width: auto;
                margin-right: 5vw;
                margin-bottom: 3vh;
                display: flex;
                flex-direction: row;

                .btn-container {
                    background: rgba($color: #813535, $alpha: 0);
                    height: 4vh;
                    width: auto;
                    display: grid;
                    place-items: center;
                    border: 0px solid transparent;

                    .icons {
                        font-size: 2em;
                        margin: 0px 20px 0px 20px;
                        color: white;
                    }
                }



            }
        }
    }
}

.Landingpage {
    @include baseDisplay($--bg-color, 250vh, 100vw);
    position: relative; // for cover position abso
    overflow: auto;

    .imgContainer {
        @include baseDisplay(none, 80vh, 100vw);
        margin-top: 20vh;
        display: grid;
        align-items: center;
        justify-content: center;

        .img {
            height: 40vh;
            clip-path: circle(50% at 50% 50%);
            // transform: scale(0.7);
        }

    }

    .about {
        @include baseDisplay(none, 80vh, 100vw);
        position: relative;
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: left;

        .label {
            font-family: $--text-font-oxygen;
            font-weight: bold;
            font-size: .6em;
            color: $--font-color;
            letter-spacing: 5px;
            position: absolute;
            transform: translate(50%, -50%);
            top: 50%;
            writing-mode: vertical-lr;
        }

        .container-text {
            @include baseDisplay(none, 75vh, 60vw);
            display: grid;
            align-items: center;

            // text-align: justify;

            .text-form-one {
                font-family: $--text-font-oxygen;
                font-weight: bold;
                font-size: 2.5em;
                color: $--font-color;
                margin-left: 2vw;
                margin-top: 3vh;
            }

            .text-form-two-container {
                @include baseDisplay(none, 55vh, 55vw);
                text-align: justify;
                color: $--font-color;
                font-family: $--text-font-oxygen;
                line-height: 300%;
                margin: 2vw;
                font-size: 1.3em;
                // padding: 20px 20px;
            }
        }
    }

}