@import '_mixin.scss';
@import '_include_media.scss';
@import '_variables.scss';

::-webkit-scrollbar {
    width: .5vh;
}

::-webkit-scrollbar-track {
    background: rgba($color: #000000, $alpha: 1.0);
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(192, 163, 33);
    border-radius: 10px;
}

.Landingpage {
    background: rgba($color: #000000, $alpha: 1.0);
    height: 250vh;
    width: 100vw;
    position: relative; // for cover position abso
    overflow: auto;

    .imgContainer {
        @include baseDisplay(none, 80vh, 100vw);
        margin-top: 20vh;
        display: grid;
        align-items: center;
        justify-content: center;

        .img {
            height: 40vh;
            clip-path: circle(50% at 50% 50%);
            // transform: scale(0.7);
        }

    }

}

.Cover {
    @include baseDisplay(rgb(0, 0, 0), 100vh, 100vw);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    position: fixed;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: 1s;
    animation: ease-in-out;

    .top {
        background: rgba($color: #924a4a, $alpha: 0);
        height: 20vh;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        transition: 1s;
        animation: ease-in-out;

        .name-container {
            background: rgba($color: #000000, $alpha: 1.0);
            height: 20vh;
            width: 20vw;
            position: absolute;
            left: 0;
            display: grid;
            place-items: center;

            .text-label {
                font-size: 1.65em;
                font-family: 'Oswald', sans-serif;
                color: white;
                letter-spacing: 2.75px;
            }
        }

        .toggle-container {
            background: rgba($color: #2e9e86, $alpha: 0);
            height: 20vh;
            width: 20vw;
            position: absolute;
            right: 0;
            place-items: center;
            display: grid;
            place-items: center;

            .SwitchRoot {
                width: 52px;
                height: 25px;
                background-color: white;
                border-radius: 9999px;
                position: relative;
                box-shadow: 0 2px 10px var(--blackA7);
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }

            .SwitchRoot:focus {
                box-shadow: 0 0 0 1px black;
            }

            .SwitchRoot[data-state='checked'] {
                background-color: black;
            }

            .SwitchThumb {
                display: block;
                width: 21px;
                height: 19px;
                background-color: rgb(0, 0, 0);
                border-radius: 9999px;
                box-shadow: 0 2px 2px var(--blackA7);
                transition: transform 100ms;
                transform: translateX(-5px);
                will-change: transform;
            }

            .SwitchThumb[data-state='checked'] {
                transform: translateX(19px);
                background-color: white;
            }

            .Label {
                color: white;
                font-size: 15px;
                line-height: 1;
                user-select: none;
            }
        }
    }

    .middle {
        background-color: rgba($color: #80812c, $alpha: 0);
        height: 65vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;

        .left-container {
            background: rgba($color: #000000, $alpha: 1.0);
            width: 15vw;
            height: 65vh;
            display: grid;
            place-items: center;
            transition: 1s;
            animation: ease-in-out;

            .line {
                height: 50vh;
                width: 4px;
                background: white;
            }
        }

        .mid-container {
            background: rgba($color: #b18e43, $alpha: 0);
            height: 65vh;
            width: 70vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .text-label {
                font-size: 4.5em;
                font-family: 'Oxygen', sans-serif;
                color: white;
                letter-spacing: 25px;
                font-weight: bold;
            }
        }

        .right-container {
            background: rgba($color: #000000, $alpha: 1.0);
            width: 15vw;
            height: 65vh;
            display: grid;
            place-items: center;
            position: absolute;
            right: 0;
            transition: 1s;
            animation: ease-in-out;

            .line {
                height: 50vh;
                width: 4px;
                background: white;
            }
        }
    }

    .bottom {
        background: rgba($color: #8b3939, $alpha: 0);
        height: 15vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        transition: 1s;
        animation: ease-in-out;

        .left-container {
            background: rgba($color: #883131, $alpha: 0);
            width: 40vw;
            height: 15vh;
            display: flex;
            align-items: center;
            justify-content: center;


            .text-label {
                font-size: 1.1em;
                font-family: 'Oswald', sans-serif;
                color: white;
                letter-spacing: 7px;
                // font-weight: bold;
                margin-bottom: 3vh;
            }
        }

        .right-container {
            background: rgba($color: #000000, $alpha: 1.0);
            width: 40vw;
            height: 15vh;
            position: absolute;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .logo-container {
                background: rgba($color: #813535, $alpha: 0);
                height: 4vh;
                width: auto;
                margin-right: 5vw;
                margin-bottom: 3vh;
                display: flex;
                flex-direction: row;

                .btn-container {
                    background: rgba($color: #813535, $alpha: 0);
                    height: 4vh;
                    width: auto;
                    display: grid;
                    place-items: center;
                    border: 0px solid transparent;

                    .icons {
                        font-size: 2em;
                        margin: 0px 20px 0px 20px;
                        color: white;
                    }
                }



            }
        }
    }
}