@import '_variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: .5vh;
}

::-webkit-scrollbar-track {
    background: rgba($color: #000000, $alpha: 1.0);
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(192, 163, 33);
    border-radius: 10px;
}

// cover 
.cover {
    position: fixed;
}

.nav {
    position: fixed;

    .container-nav {
        box-shadow: 0px 4px 50px rgba($color: #cecece, $alpha: 1.0);
        background: rgba($color: #1a1a1a, $alpha: 1.0);
    }
}

.landing {

    background: rgba($color: #1a1f25, $alpha: 1.0);

    .img-container {
        .img {
            clip-path: circle(35% at 50% 50%);
        }
    }

    .about {
        .label {
            transform: translate(50%, -50%);
            top: 50%;
            writing-mode: vertical-lr;
        }
    }

    .technologies {
        .label {
            transform: translate(50%, -50%);
            top: 50%;
            writing-mode: vertical-lr;
        }

        .text {
            opacity: 0.7;
            background: red($color: #8a0707);
        }
    }

    .services {
        .label {
            transform: translate(50%, -50%);
            top: 50%;
            writing-mode: vertical-lr;
        }
    }

    .projects {
        .label {
            transform: translate(50%, -50%);
            top: 50%;
            writing-mode: vertical-lr;
        }

        .projects-container {
            .child-container {
                .child-container-1 {
                    .main-container {
                        .cover-container {
                            box-shadow: 0px 4px 20px rgba($color: #000000, $alpha: 1.0);
                        }

                        .logo-container {
                            .logo {
                                box-shadow: 0px 4px 20px rgba($color: #000000, $alpha: .05);
                            }
                        }
                    }
                }
            }
        }
    }
}