@import '_variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: .5vh;
}

::-webkit-scrollbar-track {
    background: rgba($color: #000000, $alpha: 1.0);
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(192, 163, 33);
    border-radius: 10px;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
}

// cover 
.cover {
    position: fixed;

    .mid-container {
        .center-text-container {
            position: relative;

            .txt-container {
                position: absolute;

                .text {
                    opacity: 0;
                    animation: appear-text 0.0001s linear forwards;
                    animation-delay: 2s;
                }

                @keyframes appear-text {
                    0% {
                        opacity: 0;
                    }

                    100% {
                        opacity: 1;
                    }
                }
            }

            .txt-container::after {
                content: '';
                top: 0;
                left: 0;
                position: absolute;
                width: 0%;
                height: 100%;
                background: white;
                animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
                animation-delay: 1.5s;
            }

            @keyframes rev-block {
                0% {
                    left: 0;
                    width: 10%;
                }

                50% {
                    left: 0;
                    width: 100%;
                }

                100% {
                    left: 100%;
                    width: 0%;
                }
            }

        }
    }
}

// .nav {
//     position: absolute;

//     .container-nav {
//         box-shadow: 0px 4px 50px rgba($color: #cecece, $alpha: 1.0);
//         background: rgba($color: #1a1a1a, $alpha: 1.0);
//     }
// }

.landing {

    .img-container {
        .img {
            clip-path: circle(35% at 50% 50%);
        }
    }

    .about {
        .label {
            transform: translate(50%, -50%);
            top: 50%;
            writing-mode: vertical-lr;
        }
    }

    // .projects-container {
    //     .img-container {
    //         position: relative;
    //         position: absolute;
    //     }
    // }

    .technologies {
        .label {
            transform: translate(50%, -50%);
            top: 50%;
            writing-mode: vertical-lr;
        }

        .text {
            opacity: 0.7;
            background: red($color: #8a0707);
        }
    }

    .services {
        .label {
            transform: translate(50%, -50%);
            top: 50%;
            writing-mode: vertical-lr;
        }
    }

    .projects {
        .label {
            transform: translate(50%, -50%);
            top: 50%;
            writing-mode: vertical-lr;
        }

        // .projects-container {
        //     .child-container {
        //         .child-container-1 {
        //             .main-container {
        //                 .cover-container {
        //                     box-shadow: 0px 4px 20px rgba($color: #000000, $alpha: 1.0);
        //                 }

        //                 .logo-container {
        //                     .logo {
        //                         box-shadow: 0px 4px 20px rgba($color: #000000, $alpha: .05);
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
    }

}